<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/common-head::head"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/swiper.min.css}"/>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-form">
        <div class="layui-col-md12">
            <div class="w_delcont">
                <div class="w_dellist">
                    <div class="mytab">
                        <ul class="ly_tab">
                            <a th:href="@{'/building/queryBuildingDetail/' + ${buildingId} }">
                                <li class="ly_active">楼宇信息</li>
                            </a>
                            <a th:href="@{'/building/toFloors/' + ${buildingId} }">
                                <li>楼层信息</li>
                            </a>
                            <a th:href="@{'/building/toRooms/' + ${buildingId} }">
                                <li>房源信息</li>
                            </a>
                            <a th:href="@{'/building/toWorkplaces/' + ${buildingId} }">
                                <li>工位信息</li>
                            </a>
                            <a th:href="@{'/building/toCarplaces/' + ${buildingId} }">
                                <li>车位信息</li>
                            </a>
                        </ul>
                        <!--<a class="layui-btn w_record go-back"><i class="layui-icon">&#xe65c;</i>返回</a>-->
                    </div>
                    <div class="layui-card l_shadow" style="margin-top: 15px;">
                        <div class="mytitle">基本信息</div>
                        <div class="w_part">
                            <div class="layui-col-xs8">
                                <div class="layui-col-xs4">
                                    <span class="htstyle">所属项目：</span>
                                    <span class="htcont" th:text="${building.projectName}"></span>
                                </div>
                                <div class="layui-col-xs4">
                                    <span class="htstyle">楼宇名称：</span>
                                    <span class="htcont" th:text="${building.buildingName}"></span>
                                </div>
                                <div class="layui-col-xs4">
                                    <span class="htstyle">建成时间：</span>
                                    <span class="htcont" th:text="${building.buildTime}"></span>
                                </div>
                                <div class="layui-col-xs4">
                                    <span class="htstyle">使用年限：</span>
                                    <span class="htcont" th:if="${building.yearNum ne 0}" th:text="${building.yearNum} + ' 年' "></span>
                                </div>
                                <div class="layui-col-xs4">
                                    <span class="htstyle">用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;途：</span>
                                    <span class="htcont" th:text="${building.purpose}"></span>
                                </div>
                                <div class="layui-col-xs4">
                                    <span class="htstyle">联系人：</span>
                                    <span class="htcont" th:text="${building.contacts}"></span>
                                </div>
                                <div class="layui-col-xs4">
                                    <span class="htstyle">联系电话：</span>
                                    <span class="htcont" th:text="${building.phone}"></span>
                                </div>
                                <div class="layui-col-xs4">
                                    <span class="htstyle">所有权人：</span>
                                    <span class="htcont" th:text="${building.owner}"></span>
                                </div>
                                <div class="layui-col-xs4">
                                    <span class="htstyle">占地面积：</span>
                                    <span class="htcont" th:text="${#numbers.formatDecimal(building.coverArea, 1, 2)} + ' ㎡' "></span>
                                </div>
                                <div class="layui-col-xs4">
                                    <span class="htstyle">建筑面积：</span>
                                    <span class="htcont" th:text="${#numbers.formatDecimal(building.buildArea, 1, 2)} + ' ㎡' "></span>
                                </div>
                                <div class="layui-col-xs4">
                                    <span class="htstyle">房源数量：</span>
                                    <span class="htcont" th:text="${roomCount} + ' 间' "></span>
                                </div>
                                <div class="layui-col-xs4">
                                    <span class="htstyle">工位数量：</span>
                                    <span class="htcont" th:text="${workplaceCount} + ' 个' "></span>
                                </div>
                                <div class="layui-col-xs4">
                                    <span class="htstyle">车位数量：</span>
                                    <span class="htcont" th:text="${carplaceCount} + ' 个' "></span>
                                </div>
                                <div class="layui-col-xs12">
                                    <span class="htstyle">备注：</span>
                                    <span class="htcont" th:text="${building.remarks}"></span>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="pro_ban">
                                    <div class="swiper-container banntr">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide" th:each="item:${#strings.setSplit(building.imgs,',')}"><img th:src="${item}"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-card l_shadow">
                        <div class="mytitle">其他信息</div>
                        <div class="w_part">
                            <div class="layui-col-xs3">
                                <span class="htstyle">地上层数：</span>
                                <span class="htcont" th:text="${building.upNum} + ' 层'"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">地下层数：</span>
                                <span class="htcont" th:text="${building.downNum} + ' 层'"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">总楼层数：</span>
                                <span class="htcont" th:text="${building.upNum} + ${building.downNum} + ' 层'"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">建筑高度：</span>
                                <span class="htcont" th:text="${building.height} + ' m'"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">标准层高：</span>
                                <span class="htcont" th:text="${building.floorHeight} + ' m'"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">得房率：</span>
                                <span class="htcont" th:text="${building.roomRate} + ' %'"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">电梯数：</span>
                                <span class="htcont" th:text="${building.elevatorNum} + ' 个'"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">开发商：</span>
                                <span class="htcont" th:text="${building.developers}"></span>
                            </div>

                        </div>
                    </div>

                    <div class="layui-card l_shadow">
                        <div class="mytitle">相关文件</div>
                        <div class="w_part">
                            <div class="layui-col-xs12">
                                <div class="layui-upload">
                                    <div class="layui-upload-list">
                                        <table class="layui-table">
                                            <thead>
                                            <tr>
                                                <th>文件名称</th>
                                                <th>大小</th>
                                                <th>上传人</th>
                                                <th>上传时间</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody id="fileList" >
                                                <tr th:if="${#lists.size(docsList)==0}" class="ant"><td colspan="6">暂无相关文件</td></tr>
                                                <tr th:if="${#lists.size(docsList)>0}" th:each="obj:${docsList}">
                                                    <td th:text="${obj.docOriginalName}"></td>
                                                    <td th:text="${obj.docSize} + ' KB'"></td>
                                                    <td th:text="${obj.uploader}"></td>
                                                    <td th:text="${#dates.format(obj.createTime, 'yyyy-MM-dd')}"></td>
                                                    <td><span style="color: #5FB878;">已上传</span></td>
                                                    <td>
                                                        <button th:fileName="${obj.docOriginalName}" th:filePath="${obj.docPath}" class="layui-btn l_web_but_tj file-down">下载</button>
                                                        <button th:fileId="${obj.docId}" class="layui-btn l_web_but_sc layui-btn-danger file-delete">删除</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <a id="fileUpload" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe621;</i>选择文件</a>
                                    <a id="uploadAction" class="layui-btn layui-btn-warm"><i class="layui-icon">&#xe681;</i>上传</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="common/common-js::js"></script>
<script th:src="@{/layuiadmin/js/swiper-3.4.2.min.js}" type="text/javascript" charset="utf-8"></script>
<script>
    layui.config({
        base: URL + 'layuiadmin/'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'contlist', 'table', 'laydate', 'upload', 'form'], function () {
        var laydate = layui.laydate;
        var admin = layui.admin,
            upload = layui.upload,
            form = layui.form,
            table = layui.table;

        var fileListView = $('#fileList');
        var uploadListIns = upload.render({
            elem: '#fileUpload'
            , url: URL + 'fileUpload'
            , data: {
                "linkId": [[${building.buildingId}]],
                "docType": 'building'
            }
            , accept: 'file'
            , multiple: true
            , auto: false
            , bindAction: '#uploadAction'
            , choose: function (obj) {
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function (index, file, result) {
                    if ($('#fileList tr').hasClass('ant')) {
                        $('#fileList').find('tr').remove()
                    }
                    fileListView.append(tr);
                    var tr = $(['<tr id="upload-' + index + '">'
                        , '<td>' + file.name + '</td>'
                        , '<td>' + (file.size/1024).toFixed(2) + ' KB</td>'
                        , '<td>--</td>'
                        , '<td>--</td>'
                        , '<td><span style="color: #ff983c;">等待上传</span></td>'
                        , '<td>'
                        , '<button class="layui-btn l_web_but_sc pre-file-delete">删除</button>'
                        , '</td>'
                        , '</tr>'].join(''));
                    fileListView.append(tr);
                    //上传前文件删除
                    tr.find('.pre-file-delete').on('click', function () {
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                        if ($('#fileList tr').length == 0) {
                            $('#fileList').html('<tr class="ant"><td colspan="6">暂无相关文件</td></tr>')
                        }
                    });
                });
            }
            , done: function (res, index, upload) {
                if (res.success) { //上传成功
                    var tr = fileListView.find('tr#upload-' + index);
                    var tds = tr.children();
                    tds.eq(2).text(res.uploader);
                    tds.eq(3).text(res.uploadTime);
                    tds.eq(4).html('<span style="color: #5FB878;">已上传</span>');
                    tds.eq(5).html(
                        '<button fileName="' + res.originalName + '" filePath="' + res.filePath + '" class="layui-btn l_web_but_tj file-down">下载</button>' +
                        '<button fileId="' + res.fileId + '" class="layui-btn l_web_but_sc file-delete">删除</button>'
                    );
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            , error: function (index, upload) {
                var tr = fileListView.find('tr#upload-' + index);
                var tds = tr.children();
                tds.eq(4).html('<span style="color: #FF5722;">上传失败</span>');
            }
        });

        //下载
        $('body').on('click', '.file-down', function () {
            var fileName = $(this).attr("fileName");
            var filePath = $(this).attr("filePath");
            downloadFile(filePath,fileName);
        });

        $('body').on('click', '.go-back', function () {
            location.href = URL + 'building/toBuildingList/1';
        });

        //删除按钮
        $('body').on('click', '.file-delete', function () {
            var tr = $(this).parent().parent('tr');
            var fileId = $(this).attr("fileId");
            layer.confirm('请确定是否删除？', function (index) {
                $.ajax({
                    type: 'post',
                    url: URL + 'deleteDocs',
                    data: {"docId": fileId},
                    dataType: 'json',
                    traditional: true,
                    success: function (data) {
                        if (data.success) {
                            layer.msg(data.msg);
                            tr.remove();
                            if ($('#fileList tr').length == 0) {
                                $('#fileList').html('<tr class="ant"><td colspan="6">暂无相关文件</td></tr>')
                            }
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                });
            });
        });
    });

    //轮播
    var mySwiper = new Swiper('.banntr', {
        autoplay: 2000,
        autoplayDisableOnInteraction: false,
        loop: true,
        slidesPerView: 1,
        centeredSlides: true,
        speed: 2000,
        pagination: '.swiper-pagination',
    });
</script>
</body>
</html>