<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/common-head::head"></head>
<body>
<div class="">
    <div class="layui-tab-item layui-show part_list" style="margin-top: 10px;">
        <div class="clear"></div>
        <!--搜索-->
        <div class="searchbox l_shadow" style="margin-bottom: 0;">
            <div class="w_searlist">
                <div class="layui-inline">
                    <label class="layui-form-label layui-form-label-left "
                           style="text-align: left;">租赁面积（㎡） </label>
                    <div class="layui-input-inline">
                        <input type="text" id="startArea" class="layui-input w_timeinp" autocomplete="off"
                               placeholder="请输入租赁面积">
                        <p class="btw">至</p>
                        <input type="text" id="endArea" class="layui-input w_timeinp" autocomplete="off"
                               placeholder="请输入租赁面积">
                    </div>
                </div>
            </div>
            <div class="w_searlist">
                <div class="layui-form">
                    <label class="layui-form-label layui-form-label-left " style="text-align: left;">客户类型</label>
                    <div class="layui-input-inline">
                        <select id="customerType" lay-verify="required" lay-search>
                            <option value="">请选择客户类型</option>
                            <option value="1">公司</option>
                            <option value="2">个人</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="w_searlist">
                <div class="layui-form">
                    <label class="layui-form-label layui-form-label-left " style="text-align: left;">行业类型</label>
                    <div class="layui-input-inline">
                        <select id="industry" lay-verify="required" lay-search>
                            <option value="">请选择行业类型</option>
                            <option th:each="obj:${industryList}" th:value="${obj.bdName}"
                                    th:text="${obj.bdName}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="w_searlist">
                <label class="layui-form-label layui-form-label-left " style="text-align: left;">关键字</label>
                <div class="layui-input-inline">
                    <input type="text" id="keyword" placeholder="请输入公司名称/联系人/客户姓名" autocomplete="off"
                           class="w_seartext"
                           style="width: 260px;">
                </div>
            </div>
            <div class="w_searlist">
                <a class="layui-btn layui-btn-normal search"><i class="layui-icon">&#xe615;</i>查询</a>
            </div>
            <div class="w_searlist">
                <a class="layui-btn layui-btn-primary reset"><i class="layui-icon">&#xe669;</i>重置</a>
            </div>
            <div class="w_searlist" style="float: right" th:if="${state eq '1'}">
                <a class="layui-btn layui-btn-warm add"><i class="layui-icon">&#xe61f;</i>新增</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="tab_boxs l_shadow">
            <div class="layui-row">
                <div class="layui-col-md12">
                    <div class="clear"></div>
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <table class="layui-hide" id="dataList" lay-filter="dataList"></table>
                            <script type="text/html" id="toolbar">
                                <div class="tab-tit l_inptd" th:if="${state eq '1'}">正式客户列表</div>
                                <div class="tab-tit l_inptd" th:if="${state eq '2'}">历史客户列表</div>
                            </script>
                            <script type="text/html" id="operation">
                                <a class="layui-btn layui-btn-xs l_web_but_ck" lay-event="show">查看</a>
                                <a th:if="${state eq '1'}" class="layui-btn layui-btn-xs l_web_but_dr"
                                   lay-event="editor">编辑</a>
                                <a class="layui-btn layui-btn-xs l_web_but_sc" lay-event="del">删除</a>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="common/common-js::js"></script>
<script type="text/html" id="orderNum">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script type="text/html" id="type">
    {{#  if(d.customerType == '1' ){ }}
    公司
    {{#  } else if(d.customerType == '2'){ }}
    个人
    {{#  } }}
</script>
<script>
    var table = '';
    layui.config({
        base: URL + 'layuiadmin/'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'contlist', 'table', 'laydate', 'form'], function () {
        table = layui.table;
        var laydate = layui.laydate;
        var form = layui.form;

        table.render({
            elem: '#dataList',
            toolbar: '#toolbar',
            defaultToolbar: ['filter','exports'],
            url: URL + 'customer/queryCustomerList',
            where: {
                state: '[[${state}]]'
            },
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            cols: [
                [{
                    field: 'orderNum',
                    title: '序号',
                    fixed: 'left',
                    unresize: true,
                    templet: '#orderNum',
                    width: 60
                }, {
                    field: 'customerId',
                    title: '客户ID',
                    hide: true
                }, {
                    field: 'customerName',
                    fixed: 'left',
                    title: '客户名称',
                    width: 150
                }, {
                    field: 'customerType',
                    title: '客户类型',
                    templet: '#type',
                    width: 150
                }, {
                    field: 'industry',
                    title: '所属行业',
                    width: 150
                }, {
                    field: 'contractNum',
                    title: '合同数量',
                    width: 100
                }, {
                    field: 'roomNum',
                    title: '房源数量',
                    width: 100
                }, {
                    field: 'totalArea',
                    title: '租赁面积（㎡）',
                    width: 150
                }, {
                    field: 'workplaceNum',
                    title: '工位数量',
                    width: 100
                }, {
                    field: 'carplaceNum',
                    title: '车位数量',
                    width: 100
                }, {
                    fixed: 'right',
                    title: '操作',
                    width: 230,
                    toolbar: '#operation'
                }]
            ],
            parseData: function (res) {
                return {
                    "code": 0,
                    "msg": "查询成功",
                    "count": res.data.total,
                    "data": res.data.list
                };
            },
            page: true
        });

        form.on('radio(overdue-select)', function (data) {
            var val = data.value;
            table.reload('dataList', {
                where: {
                    startArea: $.trim($("#startArea").val()),
                    endArea: $.trim($("#endArea").val()),
                    customerType: $("#customerType").val(),
                    industry: $("#industry").val(),
                    overdueFlag: val,
                    keyword: $.trim($("#keyword").val())
                }
            });
        });

        $('.search').on('click', function () {
            table.reload('dataList', {
                where: {
                    startArea: $.trim($("#startArea").val()),
                    endArea: $.trim($("#endArea").val()),
                    customerType: $("#customerType").val(),
                    industry: $("#industry").val(),
                    keyword: $.trim($("#keyword").val())
                }
            });
        });

        $('.reset').on('click', function () {
            $('#startArea').val('');
            $('#endArea').val('');
            $('#customerType').val('');
            $('#industry').val('');
            $('#keyword').val('');
            $(".search").click();
        });

        $('.add').on('click', function () {
            layer.open({
                type: 2,
                maxmin: true,
                title: '<b>新建客户</b>',
                content: URL + 'customer/toAddCustomer',
                area: ['100%', '100%']
            });
        });

        //监听行工具事件
        table.on('tool(dataList)', function (obj) {
            var data = obj.data;
            var id = data.customerId;
            if (obj.event === 'show') {
                layer.open({
                    type: 2,
                    maxmin: true,
                    title: '<b>客户详情</b>',
                    content: URL + 'customer/queryCustomerDetail/' + id,
                    area: ['100%', '100%']
                });
            };

            if (obj.event === 'editor') {
                layer.open({
                    type: 2,
                    maxmin: true,
                    title: '<b>正式客户编辑</b>',
                    content: URL + 'customer/toEditorCustomer/' + id,
                    area: ['100%', '100%']
                });
            };

            if (obj.event === 'del') {
                layer.confirm('请确定是否删除？', function (index) {
                    $.ajax({
                        type: 'post',
                        url: URL + 'customer/deleteCustomer',
                        data: {"customerId": id},
                        dataType: 'json',
                        traditional: true,
                        success: function (data) {
                            if (data.success) {
                                layer.msg(data.msg);
                                setTimeout(function () {
                                    table.reload('dataList');
                                }, 1000);
                            } else {
                                layer.msg(data.msg);
                            }
                        }
                    });
                });
            }
        });
    });
</script>
</body>

</html>