<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/common-head::head"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/swiper.min.css}"/>
<body>
<div class="layui-fluid">
    <div class="layui-row ">
        <div class="layui-col-md12">
            <div class="layui-card l_shadow">
                <div class="w_deltab">
                    <ul>
                        <a th:href="@{'/queryContractDetail/' + ${contractCode} + '/' +${version} + '/' + ${searchType} }">
                            <li>合同信息</li>
                        </a>
                        <a th:href="@{'/queryBills/' + ${contractCode} + '/' +${version} + '/' + ${searchType} }">
                            <li class="delactive">合同账单</li>
                        </a>
                        <a th:href="@{'/queryForwardDetail/' + ${contractCode} + '/' +${version} + '/' + ${searchType} }">
                            <li>结转明细</li>
                        </a>
                        <a th:href="@{'/queryContractHistoryList/' + ${contractCode} + '/' +${version} + '/' + ${searchType} }">
                            <li>合同轨迹</li>
                        </a>
                        <a th:href="@{'/queryContractFiles/' + ${contractCode} + '/' +${version} + '/' + ${searchType} }">
                            <li>相关文件</li>
                        </a>
                        <a th:href="@{'/queryAuditRecordList/' + ${contractCode} + '/' +${version} + '/' + ${searchType} }">
                            <li>审核记录</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="w_delcont">
                <div class="w_dellist">
                    <div class="layui-card l_shadow">
                        <div class="w_part">
                            <div class="layui-col-xs12">
                                <table class="layui-hide" id="dataList" lay-filter="dataList"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="common/common-js::js"></script>
<script type="text/html" id="orderNum">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script type="text/html" id="days">
    {{#  if(d.days > 0 ){ }}
    <a class="col_lq">剩余{{d.days}}天</a>
    {{#  } else if(d.days < 0){ }}
    <a class="col_yq">逾期{{Math.abs(d.days)}}天</a>
    {{#  } else { }}
    <a class="col_zc">正常</a>
    {{#  } }}
</script>
<script type="text/html" id="state">
    {{#  if(d.confirmState == '1' ){ }}
    <a class="col_lq">待确认</a>
    {{#  } else { }}
    {{#  if(d.state == '1' ){ }}
    <a class="col_zc">已确认</a>
    {{#  } else if(d.state == '2'){ }}
    {{#  if(d.billType == '1' ){ }}
    <a class="col_zc">部分收款</a>
    {{#  } else { }}
    <a class="col_zc">部分付款</a>
    {{#  } }}
    {{#  } else { }}
    {{#  if(d.billType == '1' ){ }}
    <a class="col_zc">全部收款</a>
    {{#  } else { }}
    <a class="col_zc">全部付款</a>
    {{#  } }}
    {{#  } }}
    {{#  } }}
</script>
<script type="text/html" id="operation">
    <a class="layui-btn layui-btn-xs l_web_but_ck" lay-event="show">查看</a>
</script>
<script>
    layui.config({
        base: URL + 'layuiadmin/'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'contlist', 'table', 'laydate'], function () {
        var laydate = layui.laydate;
        var admin = layui.admin;
        var table = layui.table;

        table.render({
            elem: '#dataList',
            url: URL + 'queryFinanceBillsList',
            where: {
                contractCode: '[[${contractCode}]]',
                version: [[${version}]]
            },
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            cols: [
                [{
                    field: 'orderNum',
                    title: '序号',
                    fixed: 'left',
                    unresize: true,
                    templet: '#orderNum',
                    width: 60
                },{
                    field: 'billType',
                    title: '账单类型', templet: function (d) {
                        return d.billType == '1'?'收款':'付款';
                    }
                },  {
                    field: 'billCode',
                    title: '账单编号',
                    width: 160
                }, {
                    field: 'shouldDealDate',
                    title: '应收时间'
                }, {
                    field: 'shouldAmt',
                    title: '应收金额（元）', templet: function (d) {
                        return number_format(d.costAmt + d.feeLateAmt - d.freeAmt, 2);
                    }
                }, {
                    field: 'days',
                    title: '账单提醒',
                    templet: '#days'
                }, {
                    field: 'state',
                    title: '账单状态',
                    templet: '#state'
                }, {
                    fixed: 'right',
                    title: '操作',
                    toolbar: '#operation',
                    width: 100
                }]
            ],
            parseData: function (res) {
                return {
                    "code": 0,
                    "msg": "查询成功",
                    "count": res.data.total,
                    "data": res.data.list
                };
            },
            page: true
        });

        //监听行工具事件
        table.on('tool(dataList)', function (obj) {
            var data = obj.data;
            var billType = data.billType;
            var state = data.state;
            var contractCode = '[[${contractCode}]]';
            var version = [[${version}]];
            var billCode = data.billCode;
            var url = '';
            var title = '';
            if(billType == '1'){
                title = '收款详情';
                if (state == '0' ) {
                    url = URL + 'queryReceiptConfirmBillsDetail?contractCode=' + contractCode + '&version=' + version + '&billCode=' + billCode;
                } else if (state == '1' || state == '2') {
                    url = URL + 'queryReceiptSettleBillsDetail?contractCode=' + contractCode + '&version=' + version + '&billCode=' + billCode;
                } else {
                    url = URL + 'queryReceiptFinishBillsDetail?contractCode=' + contractCode + '&version=' + version + '&billCode=' + billCode;
                }
            }else{
                title = '付款详情';
                if (state == '0') {
                    url = URL + 'queryPaymentConfirmBillsDetail?contractCode=' + contractCode + '&version=' + version + '&billCode=' + billCode;
                } else if (state == '1' || state == '2') {
                    url = URL + 'queryPaymentSettleBillsDetail?contractCode=' + contractCode + '&version=' + version + '&billCode=' + billCode;
                } else {
                    url = URL + 'queryPaymentFinishBillsDetail?contractCode=' + contractCode + '&version=' + version + '&billCode=' + billCode;
                }
            }
            if (obj.event === 'show') {
                layer.open({
                    type: 2,
                    maxmin: true,
                    title: '<b>'+title+'</b>',
                    content: url,
                    area: ['98%', '98%']
                });
            };
        });

        $('body').on('click', '.w_deltab li', function () {
            $(this).addClass('delactive').siblings().removeClass('delactive');
        })
    });
</script>
</body>

</html>