<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/common-head::head"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/swiper.min.css}"/>
<body>
<div class="layui-fluid">
    <div class="layui-row ">
        <div class="layui-col-md12">
            <div class="layui-card l_shadow">
                <div class="layui-card-header">
                    <div class="tab-tit l_inptd">
                        <span>历史合同详情</span>
                    </div>
                </div>
            </div>
            <div class="w_delcont">
                <div class="w_dellist">
                    <div class="layui-card l_shadow">
                        <div class="mytitle">基本信息</div>
                        <div class="w_part">
                            <div class="w_colxs_4">
                                <span class="htstyle">合同类别：</span>
                                <span class="htcont" th:text="${contract.contractType}"></span>
                            </div>
                            <div class="w_colxs_4">
                                <span class="htstyle">合同编号：</span>
                                <span class="htcont" th:text="${contract.contractCode}"></span>
                            </div>
                            <div class="w_colxs_4">
                                <span class="htstyle">合同状态：</span>
                                <span class="htcont" th:text="${state}"></span>
                            </div>
                            <div class="w_colxs_4">
                                <span class="htstyle">签订日期：</span>
                                <span class="htcont" th:text="${contract.signDate}"></span>
                            </div>
                            <div class="w_colxs_4">
                                <span class="htstyle">开始时间：</span>
                                <span class="htcont" th:text="${contract.startDate}"></span>
                            </div>
                            <div class="w_colxs_4">
                                <span class="htstyle">结束时间：</span>
                                <span class="htcont" th:text="${contract.endDate}"></span>
                            </div>
                            <div class="w_colxs_4">
                                <span class="htstyle">租限：</span>
                                <span class="htcont" th:text="${contract.leaseTerm} + ' 年' "></span>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card l_shadow" th:if="${contract.customerType eq '1'}">
                        <div class="mytitle">租客信息</div>
                        <div class="w_part">
                            <div class="layui-col-xs3">
                                <span class="htstyle">客户类型：</span>
                                <span class="htcont">公司</span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">客户：</span>
                                <span class="htcont" th:text="${contract.customerName}"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">所属行业：</span>
                                <span class="htcont" th:text="${contract.industry}"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">统一社会信用代码：</span>
                                <span class="htcont" th:text="${contract.unifiedCode}"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">法人：</span>
                                <span class="htcont" th:text="${contract.legalPerson}"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">联系人：</span>
                                <span class="htcont" th:text="${contract.contacts}"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">联系电话：</span>
                                <span class="htcont" th:text="${contract.phone}"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">渠道来源：</span>
                                <span class="htcont" th:text="${contract.channelSource}"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">渠道名称：</span>
                                <span class="htcont" th:text="${contract.sourceName}"></span>
                            </div>
                            <div class="layui-col-xs6">
                                <span class="htstyle">通讯地址：</span>
                                <span class="htcont" th:text="${contract.linkAddress}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card l_shadow" th:if="${contract.customerType eq '2'}">
                        <div class="mytitle">租客信息</div>
                        <div class="w_part">
                            <div class="layui-col-xs3">
                                <span class="htstyle">客户类型：</span>
                                <span class="htcont">个人</span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">客户：</span>
                                <span class="htcont" th:text="${contract.customerName}"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">联系电话：</span>
                                <span class="htcont" th:text="${contract.phone}"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">身份证号：</span>
                                <span class="htcont" th:text="${contract.contactsCard}"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">所属行业：</span>
                                <span class="htcont" th:text="${contract.industry}"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">渠道来源：</span>
                                <span class="htcont" th:text="${contract.channelSource}"></span>
                            </div>
                            <div class="layui-col-xs3">
                                <span class="htstyle">渠道名称：</span>
                                <span class="htcont" th:text="${contract.sourceName}"></span>
                            </div>
                            <div class="layui-col-xs6">
                                <span class="htstyle">通讯地址：</span>
                                <span class="htcont" th:text="${contract.linkAddress}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card l_shadow">
                        <div class="mytitle">资源信息</div>
                        <div class="w_part">
                            <div class="w_colxs_5">
                                <span class="htstyle">房源面积：</span>
                                <span class="htcont" th:text="${#numbers.formatDecimal(totalArea, 0, 2)} + ' ㎡'"></span>
                            </div>
                            <div class="w_colxs_5" th:if="${carplaceList.size() > 0}">
                                <span class="htstyle">车位数量：</span>
                                <span class="htcont" th:text="${carplaceList.size()} + ' 个'"></span>
                            </div>
                            <div class="layui-col-xs12">
                                <table class="layui-table">
                                    <colgroup>
                                        <col width="150">
                                        <col width="150">
                                        <col width="150">
                                        <col width="150">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>项目</th>
                                        <th>楼宇</th>
                                        <th>房源</th>
                                        <th>面积</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="obj:${roomList}">
                                        <td th:text="${obj.projectName}"></td>
                                        <td th:text="${obj.buildingName}"></td>
                                        <td th:text="${obj.roomNo}">
                                            <!--<a class="tab_hous" th:text="${obj.roomNo}"></a>-->
                                        </td>
                                        <td th:text="${#numbers.formatDecimal(obj.buildArea, 0, 2)} + '㎡'"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="layui-col-xs12" th:if="${carplaceList.size() > 0}">
                                <table class="layui-table">
                                    <colgroup>
                                        <col width="150">
                                        <col width="150">
                                        <col width="150">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>项目</th>
                                        <th>楼宇</th>
                                        <th>车位</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="obj:${carplaceList}">
                                        <td th:text="${obj.projectName}"></td>
                                        <td th:text="${obj.buildingName}"></td>
                                        <td th:text="${obj.floorNo}+' - '+ ${obj.buildArea}">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card l_shadow">

                        <div class="mytitle">租赁信息</div>
                        <div class="w_part">
                            <div class="w_colxs_5">
                                <span class="htstyle">租赁单价：</span>
                                <span class="htcont"
                                      th:text="${rentList[0].unitPrice} + ' '+ ${CHARGE_UNIT_MAP[rentList[0].chargeUnit]}"></span>
                            </div>
                            <div class="w_colxs_5">
                                <span class="htstyle">日租金：</span>
                                <span class="htcont" th:text="${rentList[0].dayPrice} + ' 元/天'"></span>
                            </div>
                            <div class="w_colxs_5">
                                <span class="htstyle">月租金：</span>
                                <span class="htcont" th:text="${rentList[0].monthPrice} + ' 元/月'"></span>
                            </div>
                            <div class="w_colxs_5">
                                <span class="htstyle">付款周期：</span>
                                <span class="htcont" th:text="${rentList[0].payCycle}+ ' 个月'"></span>
                            </div>
                            <div class="w_colxs_5">
                                <span class="htstyle">保证金金额：</span>
                                <span class="htcont" th:text="${contract.deposit}+ ' 元'"></span>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card l_shadow">
                        <div class="mytitle">收款计划</div>
                        <div class="zd_part" th:each="obj:${planSumList}">
                            <div class="information">
                                <div class="layui-col-sm4 w_bor">
                                    <div class="information_list_zd text_center">应收款时间：</div>
                                    <div class="information_list_zd ">
                                        <input type="text" name="time"
                                               class="layui-input pad_size w_borno text_center date-select"
                                               th:value="${obj.receivableDate}" readonly>
                                    </div>
                                </div>
                                <div class="layui-col-sm4 w_bor">
                                    <div class="information_list_zd text_center">应收款总金额（元）：</div>
                                    <div class="information_list_zd text_center">
                                        <span class="w_fs_20 w_fc_2" th:text="${obj.costAmtSum}"></span>
                                    </div>
                                </div>
                                <div class="layui-col-sm4 w_bor">
                                    <div class="information_list_zd text_center">账单编号：</div>
                                    <div class="information_list_zd text_center"><span class="w_fs_20"
                                                                                       th:text="${obj.billCode}"></span>
                                    </div>
                                </div>
                            </div>
                            <ul class="cost_tit">
                                <li>费用名称</li>
                                <li>费用区间</li>
                                <li>收款金额（元）</li>
                            </ul>
                            <div class="cost_list" th:each="item:${obj.planList}">
                                <ul class="zd_list">
                                    <li class="w_fc_2" th:text="${item.costName}"></li>
                                    <li th:text="${item.startDate} + ' ~ ' + ${item.endDate}"></li>
                                    <li th:text="${item.costAmt}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>