<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/common-head::head">
<body>
<div class="w_addbox">
    <form id="form" class="house_page1 layui-form">
        <!--基本信息-->
        <div class="layui-row layui-form-item">
            <div class="mytitle">
                基本信息
            </div>
            <div class="w_addpart l_shadow">
                <div class="layui-col-md4 layui-col-xs6 l_po">
                    <label class="layui-form-label w_label "><b class="w_sur">*</b>项目名称：</label>
                    <div class="layui-input-block">
                        <select id="projectId" name="projectId" lay-verify="required" lay-search lay-filter="project_select">
                            <option value="">请选择项目</option>
                            <option th:each="obj:${projectList}" th:value="${obj.projectId}" th:text="${obj.projectName}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs6 l_po">
                    <label class="layui-form-label w_label "><b class="w_sur">*</b>楼宇名称：</label>
                    <div class="layui-input-block">
                        <select id="buildingId" name="buildingId" lay-verify="required" lay-search lay-filter="building_select">
                            <option value="">请选择楼宇</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs6 l_po">
                    <label class="layui-form-label w_label "><b class="w_sur">*</b>楼&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;层：</label>
                    <div class="layui-input-block">
                        <select id="floorId" name="floorId" lay-verify="required" lay-search>
                            <option value="">请选择楼层</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs6 l_po">
                    <label class="layui-form-label w_label "><b class="w_sur">*</b>房&nbsp;&nbsp;间&nbsp;&nbsp;号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="roomNo" lay-verify="required" placeholder="请输入房间号" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs6 l_po">
                    <label class="layui-form-label w_label l_hg"><b class="w_sur">*</b>使用面积&nbsp;&nbsp;<br/>（㎡）：</label>
                    <div class="layui-input-block">
                        <input type="text" name="useArea" oninput="onlyNumber(this)" lay-verify="required|number" placeholder="请输入使用面积"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs6 l_po">
                    <label class="layui-form-label w_label l_hg"><b class="w_sur">*</b>建筑面积&nbsp;&nbsp;<br/>（㎡）：</label>
                    <div class="layui-input-block">
                        <input type="text" name="buildArea" oninput="onlyNumber(this)" lay-verify="required|number" placeholder="请输入建筑面积"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs6 l_po">
                    <label class="layui-form-label w_label ">装修状态：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="decorate" value="1" title="毛坯" checked="">
                        <input type="radio" name="decorate" value="2" title="简装">
                        <input type="radio" name="decorate" value="3" title="精装">
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs6 l_po">
                    <label class="layui-form-label w_label ">是否对外招租：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="whetherOpen" value="1" title="是" checked="">
                        <input type="radio" name="whetherOpen" value="2" title="否">
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs6 l_po">
                    <label class="layui-form-label w_label ">租金底价：</label>
                    <div class="layui-input-block">
                        <div class="year_inp">
                            <input type="text" name="bottomPrice" oninput="onlyNumber(this)" placeholder="租金底价" autocomplete="off" class="layui-input">
                        </div>
                        <div class="year_inp">
                            <select name="chargeUnit" lay-search>
                                <option value="">选择单位</option>
                                <option th:each="obj:${CHARGE_UNIT_MAP}" th:value="${obj.key}" th:text="${obj.value}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs6 l_po">
                    <label class="layui-form-label w_label ">是否临街：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="whetherStreet" value="1" title="是" checked="">
                        <input type="radio" name="whetherStreet" value="2" title="否">
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs6 l_po">
                    <label class="layui-form-label w_label ">朝&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;向：</label>
                    <div class="layui-input-block">
                        <select name="orientation" lay-search>
                            <option value="">请选择朝向</option>
                            <option th:each="obj:${orientationList}" th:value="${obj.bdName}"
                                    th:text="${obj.bdName}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs6 l_po">
                    <label class="layui-form-label w_label">用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;途：</label>
                    <div class="layui-input-block">
                        <input type="text" name="purpose" placeholder="请输入用途" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-col-xs12 l_po" style="display: none;">
                    <label class="layui-form-label w_label ">配套设施：</label>
                    <div class="layui-input-block">
                        <input name="facilities" th:each="obj:${facilitiesList}" th:value="${obj.bdName}"
                               th:title="${obj.bdName}" type="checkbox" lay-skin="primary"/>
                    </div>
                </div>
                <div class="layui-col-xs12 l_po" style="display: none;">
                    <label class="layui-form-label w_label ">房源标签：</label>
                    <div class="layui-input-block" onselectstart="return false" >
                        <div class="fy_tips tag-bc1 tags" name="tags" th:each="obj:${tagsList}" th:text="${obj.bdName}" style="cursor:pointer;"></div>
                    </div>
                </div>
                <div class="layui-col-xs12 l_po">
                    <label class="layui-form-label w_label">备注：</label>
                    <div class="layui-input-block">
                        <textarea name="remarks" class="w_tzteaxer" placeholder="请输入备注信息"></textarea>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <label class="layui-form-label w_label "><b class="w_sur">*</b>房源照片：</label>
                    <div class="layui-input-block" style="margin-left:116px">
                        <a class="layui-btn layui-btn-normal upload-imgs"><i class="layui-icon">&#xe60d;</i>选择</a>
                        <div class="layui-upload wy_flex_wrap imgs" style="margin-top:10px;"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!--基本信息end-->
        <div class="w_del_btnbox">
            <input type="button" value="保存" class="layui-btn layui-btn-normal" lay-submit lay-filter="commit"/>
            <input type="button" value="取消" class="layui-btn layui-btn-primary cancel"/>
        </div>
    </form>
</div>
<script th:replace="common/common-js::js"></script>
<script th:src="@{/js/template.js}"></script>

<script id="building-templete" type="text/html">
    {{if list.length>0}}
    <option value="">请选择楼宇</option>
    {{each list as obj index}}
    <option value="{{obj.buildingId}}">{{obj.buildingName}}</option>
    {{/each}}
    {{else}}
    <option value="">暂无楼宇信息</option>
    {{/if}}
</script>
<script id="floor-templete" type="text/html">
    {{if list.length>0}}
    <option value="">请选择楼层</option>
    {{each list as obj index}}
    <option value="{{obj.floorId}}">{{obj.floorNo}}</option>
    {{/each}}
    {{else}}
    <option value="">暂无楼层信息</option>
    {{/if}}
</script>
<script>
    layui.config({
        base: URL + 'layuiadmin/'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'contlist', 'form', 'upload', 'laydate', 'table'], function () {
        var form = layui.form,
            layer = layui.layer,
            upload = layui.upload,
            laydate = layui.laydate;

        form.on('select(project_select)', function (data) {
            var id = data.value;
            if (id != '') {
                $.ajax({
                    url: URL + "building/queryBuildingBaseList",
                    type: "POST",
                    data: {
                        projectId: id
                    },
                    dataType: "json",
                    success: function (data) {
                        var html = template('building-templete', data);
                        $('#buildingId').html(html);
                        form.render('select');
                    }
                });
            } else {
                $('#buildingId').html('<option value="">请选择楼宇</option>');
                $('#floorId').html('<option value="">请选择楼层</option>');
                form.render('select');
            }
        });

        form.on('select(building_select)', function (data) {
            var id = data.value;
            if (id != '') {
                $.ajax({
                    url: URL + "floor/queryFloorBaseList",
                    type: "POST",
                    data: {
                        buildingId: id
                    },
                    dataType: "json",
                    success: function (data) {
                        var html = template('floor-templete', data);
                        $('#floorId').html(html);
                        form.render('select');
                    }
                });
            } else {
                $('#floorId').html('<option value="">请选择楼层</option>');
                form.render('select');
            }
        });

        var tagArr = [];
        $('body').on('click', '.tags', function () {
            var tag = $(this).text();
            if ($(this).hasClass("on")) {
                tagArr = remove(tagArr, 'tag', tag); // 注：必须重新赋值
                $(this).addClass("tag-bc1");
                $(this).removeClass("tag-bc2");
                $(this).removeClass("on");
            } else {
                var obj = {};
                obj.tag = tag;
                tagArr.push(obj);
                $(this).addClass("tag-bc2");
                $(this).removeClass("tag-bc1");
                $(this).addClass("on")
            }
        });

        /* 上传图片 */
        var imgs = [];
        lay('.upload-imgs').each(function (i, ele) {
            upload.render({
                elem: this,
                url: URL + 'imgUpload',
                multiple: true,
                before: function (obj) {
                    obj.preview(function (index, file, result) {
                        $('.imgs').eq(i).append('<div class="img">' +
                            '<div class="z_update_img">' +
                            '<img src="' + result + '" class="z_full_width">' +
                            '<img class="colse remove-img" src="../img/sf.png">' +
                            '</div>' +
                            '</div>');
                    });
                },
                done: function (res) {
                    //如果上传失败
                    if (res.code > 0) {
                        layer.msg('上传失败');
                    } else if (res.state == 'SUCCESS') {
                        imgs.push(res.url);
                    }
                }
            });
        });

        $('body').on('click', '.remove-img', function () {
            var obj = $(this).parents('.img');
            imgs.splice(obj.index, 1);
            obj.remove();
        });

        form.on('submit(commit)', function () {
            if (imgs.length < 1) {
                layer.msg('请选择房源照片');
                return;
            }
            var formData = $("#form").serializeObject();
            formData["projectName"] = $("#projectId").find("option:selected").text();
            formData["buildingName"] = $("#buildingId").find("option:selected").text();
            formData["floorNo"] = $("#floorId").find("option:selected").text();
            formData["imgs"] = imgs.join(",");
            var tags = '';
            $.each(tagArr, function (i, item) {
                if(i+1 == tagArr.length){
                    tags+=item.tag;
                }else{
                    tags+=item.tag + ',';
                }
            });
            formData["tags"] = tags;
            $.ajax({
                url: URL + "room/insertRoom",
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        layer.msg(data.msg);
                        setTimeout(function(){
                            parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }, 1000);
                    } else {
                        layer.msg(data.msg);
                    }
                }
            });
        });

        //取消按钮
        $('body').on('click', '.cancel', function () {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        })
    });
</script>
</body>

</html>