<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/common-head::head"></head>
<body>
<div>
    <div class="layui-tab-item layui-show part_list" style="margin-top: 10px;">
        <div class="layui-card l_shadow" style="margin-bottom: 15px;">
            <div class="layui-row ">
                <div class="information">
                    <div class="layui-col-sm3 w_bor">
                        <div class="information_list w_fw">管理面积</div>
                        <div class="information_list w_fwbt"
                             th:text="${#numbers.formatDecimal(obj.totalArea, 1, 2)} + ' ㎡'"></div>
                        <div class="information_list" th:text="'房源数量：' + ${obj.totalNum} + ' 间'"></div>
                    </div>
                    <div class="layui-col-sm3 w_bor">
                        <div class="information_list w_fw">可招商面积</div>
                        <div class="information_list w_fwbt"
                             th:text="${#numbers.formatDecimal(obj.enableArea, 1, 2)} + ' ㎡'"></div>
                        <div class="information_list" th:text="'房源数量：' + ${obj.enableNum} + ' 间'"></div>
                    </div>
                    <div class="layui-col-sm3 w_bor">
                        <div class="information_list w_fw">在租面积</div>
                        <div class="information_list w_fwbt"
                             th:text="${#numbers.formatDecimal(obj.rentArea, 1, 2)} + ' ㎡'"></div>
                        <div class="information_list" th:text="'房源数量：' + ${obj.rentNum} + ' 间'"></div>
                    </div>
                    <div class="layui-col-sm3 w_bor">
                        <div class="information_list w_fw">空置面积</div>
                        <div class="information_list w_fwbt"
                             th:text="${#numbers.formatDecimal(obj.vacantArea, 1, 2)} + ' ㎡'"></div>
                        <div class="information_list" th:text="'房源数量：' + ${obj.vacantNum} + ' 间'"></div>
                    </div>
                    <div class="layui-col-sm3 w_bor">
                        <div class="information_list w_fw">在租均价</div>
                        <div class="information_list w_fwbt" th:text="${obj.avgPrice} + ' 元·㎡·天'"></div>
                        <div class="information_list">- -</div>
                    </div>
                    <div class="layui-col-sm3 w_bor">
                        <div class="information_list w_fw">出租率</div>
                        <div class="information_list w_fwbt"
                             th:text="${#numbers.formatDecimal(obj.rentRate, 1, 2)} + ' %'"></div>
                        <div class="information_list">- -</div>
                    </div>
                    <div class="layui-col-sm3 w_bor">
                        <div class="information_list w_fw">签约合同</div>
                        <div class="information_list w_fwbt" th:text="${obj.contractNum} + ' 份'"></div>
                        <div class="information_list">- -</div>
                    </div>
                    <div class="layui-col-sm3 w_bor">
                        <div class="information_list w_fw">签约企业</div>
                        <div class="information_list w_fwbt" th:text="${obj.customerNum} + ' 家'"></div>
                        <div class="information_list">- -</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!--搜索-->
        <div class="searchbox l_shadow" style="margin-bottom: 0;">
            <div class="w_searlist">
                <div class="layui-inline">
                    <label class="layui-form-label layui-form-label-left " style="text-align: left;">招商状态： </label>
                    <div class="layui-input-inline layui-form sear_rad">
                        <input type="radio" name="state" value="ALL" title="全部" lay-filter="state-select" checked="">
                        <input type="radio" name="state" value="VACANT" title="空置" lay-filter="state-select">
                        <input type="radio" name="state" value="RENTING" title="在租" lay-filter="state-select">
                        <input type="radio" name="state" value="SOON" title="即将到期" lay-filter="state-select" th:checked="${state eq '2'}">
                    </div>
                </div>
            </div>
            <div class="w_searlist">
                <div class="layui-inline">
                    <label class="layui-form-label layui-form-label-left " style="text-align: left;">房源面积（㎡） </label>
                    <div class="layui-input-inline">
                        <input type="text" id="startArea" class="layui-input w_timeinp" placeholder="请输入房源面积"
                               autocomplete="off">
                        <p class="btw">至</p>
                        <input type="text" id="endArea" class="layui-input w_timeinp" placeholder="请输入房源面积"
                               autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="w_searlist">
                <label class="layui-form-label layui-form-label-left " style="text-align: left;">关键字</label>
                <div class="layui-input-inline">
                    <input type="text" id="keyword" placeholder="请输入项目/楼宇/房间号" autocomplete="off" class="w_seartext"
                           style="width: 260px;">
                </div>
            </div>
            <div class="w_searlist">
                <a class="layui-btn layui-btn-normal search"><i class="layui-icon">&#xe615;</i>查询</a>
            </div>
            <div class="w_searlist">
                <a class="layui-btn layui-btn-primary reset"><i class="layui-icon">&#xe669;</i>重置</a>
            </div>
            <div class="w_searlist" style="float: right">
                <a class="layui-btn layui-btn-warm add"><i class="layui-icon">&#xe61f;</i>新增</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="tab_boxs l_shadow">
            <div class="layui-row">
                <div class="layui-col-md12">
                    <div class="clear"></div>
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <table class="layui-hide" id="dataList" lay-filter="dataList"></table>
                            <script type="text/html" id="toolbar">
                                <div class="tab-tit l_inptd">房源列表</div>
                            </script>
                            <script type="text/html" id="operation">
                                <a class="layui-btn layui-btn-xs l_web_but_ck" lay-event="show">查看</a>
                                <a class="layui-btn layui-btn-xs l_web_but_dr" lay-event="editor">编辑</a>
                                <a class="layui-btn layui-btn-xs l_web_but_sc" lay-event="del">删除</a>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="common/common-js::js"></script>
<script type="text/html" id="orderNum">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script type="text/html" id="state">
    {{#  if(d.state === '0' ){ }}
    <span style="color:#C2C5D6;">不对外招租</span>
    {{#  } else if(d.state === '1'){ }}
    <span style="color:#44B549;">在租</span>
    {{#  } else if(d.state === '2'){ }}
    <span style="color:#FEB97A;">即将到期</span>
    {{#  } else if(d.state === '3'){ }}
    <span style="color:#69BFD3;">空置</span>
    {{#  } else{ }}
    <span style="color:#DE7B9E;">到期未处理</span>
    {{#  } }}
</script>
<script th:inline="javascript">
    var table;
    layui.config({
        base: URL + 'layuiadmin/'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'contlist', 'table', 'laydate', 'form'], function () {
        table = layui.table;
        var laydate = layui.laydate,
            admin = layui.admin,
            form = layui.form;

        table.render({
            elem: '#dataList',
            toolbar: '#toolbar',
            defaultToolbar: ['filter'],
            url: URL + 'room/queryRoomList',
            where: {
                state: $("input[name='state']:checked").val()
            },
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            cols: [
                [{
                    field: 'orderNum',
                    title: '序号',
                    fixed: 'left',
                    unresize: true,
                    templet: '#orderNum',
                    width: 60
                }, {
                    field: 'projectName',
                    title: '项目名称',
                    fixed: 'left',
                    width: 150
                }, {
                    field: 'buildingName',
                    title: '楼宇名称',
                    fixed: 'left',
                    width: 150
                }, {
                    field: 'floorNo',
                    title: '楼层'
                }, {
                    field: 'roomId',
                    title: '房间ID',
                    hide: true
                }, {
                    field: 'roomNo',
                    title: '房间号',
                    width: 80
                }, {
                    field: 'useArea',
                    title: '使用面积（㎡）',
                    width: 150
                }, {
                    field: 'buildArea',
                    title: '建筑面积（㎡）',
                    width: 150
                }, {
                    field: 'bottomPrice',
                    title: '租金底价',
                    width: 180,
                    templet: function (d) {
                        return d.bottomPrice + ' ' + [[${CHARGE_UNIT_MAP}]][d.chargeUnit];
                    }
                }, {
                    field: 'decorate',
                    title: '装修情况',
                    width: 100,
                    templet: function (d) {
                        return [[${ROOM_DECORATE_MAP}]][d.decorate];
                    }
                }, {
                    field: 'state',
                    title: '招商状态',
                    templet: '#state',
                    width: 100
                }, {
                    fixed: 'right',
                    title: '操作',
                    width: 230,
                    toolbar: '#operation'
                }]
            ],
            parseData: function (res) {
                return {
                    "code": 0,
                    "msg": "查询成功",
                    "count": res.data.total,
                    "data": res.data.list
                };
            },
            page: true
        });

        form.on('radio(state-select)', function (data) {
            var state = data.value;
            table.reload('dataList', {
                where: {
                    startArea: $.trim($("#startArea").val()),
                    endArea: $.trim($("#endArea").val()),
                    state: state,
                    keyword: $.trim($("#keyword").val())
                }
            });
        });

        $('.search').on('click', function () {
            table.reload('dataList', {
                where: {
                    startArea: $.trim($("#startArea").val()),
                    endArea: $.trim($("#endArea").val()),
                    state: $("input[name='state']:checked").val(),
                    keyword: $.trim($("#keyword").val())
                }
            });
        });

        $('.reset').on('click', function () {
            $('#startArea').val('');
            $('#endArea').val('');
            $('#keyword').val('');
            // $("input[name='state']").get(0).checked = true;
            // form.render('radio');
            $(".search").click();
        });

        $('.add').on('click', function () {
            layer.open({
                type: 2,
                maxmin: true,
                title: '<b>新增房源</b>',
                content: URL + 'room/toAddRoom',
                area: ['100%', '100%']
            });
        });

        //监听行工具事件
        table.on('tool(dataList)', function (obj) {
            var data = obj.data;
            var id = data.roomId;
            if (obj.event === 'show') {
                layer.open({
                    type: 2,
                    maxmin: true,
                    title: '<b>房源详情</b>',
                    content: URL + 'room/queryRoomDetail/' + id,
                    area: ['100%', '100%']
                });
            };

            if (obj.event === 'editor') {
                layer.open({
                    type: 2,
                    maxmin: true,
                    title: '<b>编辑房源</b>',
                    content: URL + 'room/toEditorRoom/' + id,
                    area: ['100%', '100%']
                });
            };

            if (obj.event === 'del') {
                layer.confirm('请确定是否删除？', function (index) {
                    $.ajax({
                        type: 'post',
                        url: URL + 'room/deleteRoom',
                        data: {"roomId": id},
                        dataType: 'json',
                        traditional: true,
                        success: function (data) {
                            if (data.success) {
                                layer.msg(data.msg);
                                table.reload('dataList');
                            } else {
                                layer.msg(data.msg);
                            }
                        }
                    });
                });
            }
        });
    });
</script>
</body>

</html>