<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruikun.sys.investment.mapper.ContractRoomMapper">

    <sql id="Base_Column_List">
		c.id,
		c.contract_code,
		c.version,
		c.start_date,
		c.end_date,
		c.room_id,
		c.room_no,
		c.build_area,
		c.floor_id,
		c.floor_no,
		c.building_id,
		c.building_name,
		c.project_id,
		c.project_name,
		c.create_user_id,
		c.create_time,
		c.update_user_id,
		c.update_time,
		c.remarks,
		c.del_flag
	</sql>

    <sql id="Link_Column_List">
    </sql>

    <select id="queryContractRoomList" resultType="contractRoom">
        select
        <include refid="Base_Column_List"/>
        from contract_room c
        where c.del_flag = '0'
        <if test="contractCode != null and contractCode != '' ">
            and c.contract_code = #{contractCode}
        </if>
        <if test="version != null">
            and c.version = #{version}
        </if>
        <if test="roomId != null ">
            and c.room_id = #{roomId}
        </if>
        <if test="roomNo != null and roomNo != '' ">
            and c.room_no = #{roomNo}
        </if>
        <if test="startDate != null and startDate != '' ">
            and c.start_date &lt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != '' ">
            and c.end_date &gt;= #{endDate}
        </if>
        <if test="buildArea != null ">
            and c.build_area = #{buildArea}
        </if>
        <if test="floorId != null ">
            and c.floor_id = #{floorId}
        </if>
        <if test="floorNo != null and floorNo != '' ">
            and c.floor_no = #{floorNo}
        </if>
        <if test="buildingId != null ">
            and c.building_id = #{buildingId}
        </if>
        <if test="buildingName != null and buildingName != '' ">
            and c.building_name like concat('%',#{buildingName},'%')
        </if>
        <if test="projectId != null ">
            and c.project_id = #{projectId}
        </if>
        <if test="projectName != null and projectName != '' ">
            and c.project_name like concat('%',#{projectName},'%')
        </if>
    </select>

    <select id="queryContractList" resultType="contract">
        SELECT
            c.contract_type,
            c.contract_code,
            c.version,
            c.follow_person,
            c.sign_date,
            c.start_date,
            c.end_date,
            c.state_one,
            c.state_two,
            cu.customer_name
        FROM
            contract_room cr
            LEFT JOIN contract c ON cr.contract_code = c.contract_code
            AND cr.version = c.version
            LEFT JOIN customer cu ON cu.customer_id = c.customer_id
        WHERE
        cr.room_id = #{roomId} and c.state_one = '1'
    </select>

    <select id="queryContractRoomDetailByPrimarykey" resultType="contractRoom">
        select
        <include refid="Base_Column_List"/>
        from contract_room c
        where
        c.id = #{id}
    </select>

    <select id="queryContractRoomDetail" resultType="contractRoom">
        select
        co.state_one,
        co.state_two,
        co.audit_state,
        co.follow_person,
        <include refid="Base_Column_List"/>
        from contract_room c
        left join contract co on co.contract_code = c.contract_code and co.version = c.version
        where co.state_one != 2
        <if test="id != null">
            and c.id = #{id}
        </if>
        <if test="roomId != null">
            and c.room_id = #{roomId}
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and (
            (#{startDate} between c.start_date and c.end_date)
            or
            (#{endDate} between c.start_date and c.end_date)
            )
        </if>
    </select>

    <insert id="insertContractRoom">
        insert into contract_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contractCode != null and contractCode != '' ">
                contract_code,
            </if>
            <if test="version != null ">
                version,
            </if>
            <if test="roomId != null ">
                room_id,
            </if>
            <if test="roomNo != null and roomNo != '' ">
                room_no,
            </if>
            <if test="startDate != null and startDate != '' ">
                start_date,
            </if>
            <if test="endDate != null and endDate != '' ">
                end_date,
            </if>
            <if test="buildArea != null">
                build_area,
            </if>
            <if test="floorId != null ">
                floor_id,
            </if>
            <if test="floorNo != null and floorNo != '' ">
                floor_no,
            </if>
            <if test="buildingId != null ">
                building_id,
            </if>
            <if test="buildingName != null and buildingName != '' ">
                building_name,
            </if>
            <if test="projectId != null ">
                project_id,
            </if>
            <if test="projectName != null and projectName != '' ">
                project_name,
            </if>
            <if test="createUserId != null ">
                create_user_id,
            </if>
            <if test="createTime != null ">
                create_time,
            </if>
            <if test="updateUserId != null ">
                update_user_id,
            </if>
            <if test="updateTime != null ">
                update_time,
            </if>
            <if test="remarks != null and remarks != '' ">
                remarks,
            </if>
            <if test="delFlag != null and delFlag != '' ">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contractCode != null and contractCode != '' ">
                #{contractCode},
            </if>
            <if test="version != null ">
                #{version},
            </if>
            <if test="roomId != null ">
                #{roomId},
            </if>
            <if test="roomNo != null and roomNo != '' ">
                #{roomNo},
            </if>
            <if test="startDate != null and startDate != '' ">
                #{startDate},
            </if>
            <if test="endDate != null and endDate != '' ">
                #{endDate},
            </if>
            <if test="buildArea != null">
                #{buildArea},
            </if>
            <if test="floorId != null ">
                #{floorId},
            </if>
            <if test="floorNo != null and floorNo != '' ">
                #{floorNo},
            </if>
            <if test="buildingId != null ">
                #{buildingId},
            </if>
            <if test="buildingName != null and buildingName != '' ">
                #{buildingName},
            </if>
            <if test="projectId != null ">
                #{projectId},
            </if>
            <if test="projectName != null and projectName != '' ">
                #{projectName},
            </if>
            <if test="createUserId != null ">
                #{createUserId},
            </if>
            <if test="createTime != null ">
                #{createTime},
            </if>
            <if test="updateUserId != null ">
                #{updateUserId},
            </if>
            <if test="updateTime != null ">
                #{updateTime},
            </if>
            <if test="remarks != null and remarks != '' ">
                #{remarks},
            </if>
            <if test="delFlag != null and delFlag != '' ">
                #{delFlag},
            </if>
        </trim>
    </insert>

    <update id="updateContractRoom">
        update contract_room
        <set>
            <if test="contractCode != null and contractCode != '' ">
                contract_code = #{contractCode},
            </if>
            <if test="version != null ">
                version = #{version},
            </if>
            <if test="roomId != null ">
                room_id = #{roomId},
            </if>
            <if test="roomNo != null and roomNo != '' ">
                room_no = #{roomNo},
            </if>
            <if test="startDate != null and startDate != '' ">
                start_date = #{startDate},
            </if>
            <if test="endDate != null and endDate != '' ">
                end_date = #{endDate},
            </if>
            <if test="buildArea != null">
                build_area = #{buildArea},
            </if>
            <if test="floorId != null ">
                floor_id = #{floorId},
            </if>
            <if test="floorNo != null and floorNo != '' ">
                floor_no = #{floorNo},
            </if>
            <if test="buildingId != null ">
                building_id = #{buildingId},
            </if>
            <if test="buildingName != null and buildingName != '' ">
                building_name = #{buildingName},
            </if>
            <if test="projectId != null ">
                project_id = #{projectId},
            </if>
            <if test="projectName != null and projectName != '' ">
                project_name = #{projectName},
            </if>
            <if test="createUserId != null ">
                create_user_id = #{createUserId},
            </if>
            <if test="createTime != null ">
                create_time = #{createTime},
            </if>
            <if test="updateUserId != null ">
                update_user_id = #{updateUserId},
            </if>
            <if test="updateTime != null ">
                update_time = #{updateTime},
            </if>
            <if test="remarks != null and remarks != '' ">
                remarks = #{remarks},
            </if>
            <if test="delFlag != null and delFlag != '' ">
                del_flag = #{delFlag},
            </if>
        </set>
        where
        id = #{id}
    </update>

    <delete id="deleteContractRoomByPrimarykey">
		delete
		from
			contract_room
		where
			id = #{id}
	</delete>

    <delete id="deleteContractRoom">
		delete
		from
			contract_room
		where
			contract_code = #{contractCode}
			and version = #{version}
	</delete>


</mapper>