<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruikun.sys.investment.mapper.FollowHistoryMapper">

    <sql id="Base_Column_List">
		follow_id,
		temporary_id,
        follow_time,
        follow_way,
        follow_content,
        create_user_id,
        create_time,
        update_user_id,
        update_time,
        remarks,
        del_flag
	</sql>

    <sql id="Link_Column_List">
    </sql>

    <select id="queryFollowHistoryList" resultType="followHistory">
        select
        <include refid="Base_Column_List"/>
        from follow_history
        where del_flag = '0'
        <if test="temporaryId != null">
            and temporary_id = #{temporaryId}
        </if>
        order by follow_time desc
    </select>

    <insert id="insertFollowHistory">
        insert into follow_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="temporaryId != null ">
                temporary_id,
            </if>
            <if test="followTime != null and followTime != ''  ">
                follow_time,
            </if>
            <if test="followWay != null and followWay != '' ">
                follow_way,
            </if>
            <if test="followContent != null and followContent != ''">
                follow_content,
            </if>
            <if test="createUserId != null ">
                create_user_id,
            </if>
                create_time,
            <if test="updateUserId != null ">
                update_user_id,
            </if>
                update_time,
            <if test="remarks != null and remarks != '' ">
                remarks,
            </if>
            <if test="delFlag != null and delFlag != '' ">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="temporaryId != null and temporaryId != '' ">
                #{temporaryId},
            </if>
            <if test="followTime != null and followTime != '' ">
                #{followTime},
            </if>
            <if test="followWay != null and followWay != '' ">
                #{followWay},
            </if>
            <if test="followContent != null and followContent != '' ">
                #{followContent},
            </if>
            <if test="createUserId != null ">
                #{createUserId},
            </if>
                now(),
            <if test="updateUserId != null ">
                #{updateUserId},
            </if>
                now(),
            <if test="remarks != null and remarks != '' ">
                #{remarks},
            </if>
            <if test="delFlag != null and delFlag != '' ">
                #{delFlag},
            </if>
        </trim>
    </insert>

    <delete id="deleteFollowHistoryByTemporaryId">
        delete
        from
        follow_history
        where temporary_id = #{temporaryId}
    </delete>

</mapper>