<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/common-head::head"></head>
<body>
<!--搜索-->
<div class="searchbox">
   <!-- <div class="w_searlist">
        <div class="layui-form">
            <div class="layui-input-inline">
                <select name="label" lay-verify="required" lay-search>
                    <option value="">请选择</option>
                    <option value="1">天成中心</option>
                </select>
            </div>
        </div>
    </div>
    <div class="w_searlist">
        <div class="layui-form">
            <div class="layui-input-inline">
                <select name="label" lay-verify="required" lay-search>
                    <option value="">请选择</option>
                    <option value="1">第一中心大楼</option>
                </select>
            </div>
        </div>
    </div>
    <div class="w_searlist">
        <input type="button" value="搜索" class="layui-btn layui-btn-normal"/>
    </div>-->
    <div class="clear"></div>
</div>

<div class="layui-show layui-form">
    <!--客户行业统计-->
    <div class="layui-col-xs4 w_ehr">
        <div class="w_echars_list">
            <div class="ehr_head">
                <div class="ehr_tit">
                    客户行业统计
                </div>
                <div class="ehr_inp ">
                    <select name="label" lay-verify="required" lay-search lay-filter="myChart1">
                        <option value="1">在租</option>
                        <option value="2">意向</option>
                    </select>
                </div>
                <div class="clear"></div>
            </div>
            <div class="chear_cont">
                <div class="ehr_list1">
                    <div id="myChart1" style="width: 100%;height:230px; text-align: right; "></div>
                </div>
            </div>
        </div>
    </div>
    <!--客户行业统计end-->
    <!-- 客户来访渠道-->
    <div class="layui-col-xs4 w_ehr">
        <div class="w_echars_list">
            <div class="ehr_head">
                <div class="ehr_tit">
                    客户来访渠道
                </div>
                <div class="ehr_inp ">
                    <select name="label" lay-verify="required" lay-search lay-filter="myChart2">
                        <option value="1">在租</option>
                        <option value="2">意向</option>
                    </select>
                </div>
                <div class="clear"></div>
            </div>
            <div class="chear_cont">
                <div class="ehr_list1">
                    <div id="myChart2" style="width: 100%;height:230px; text-align: right; "></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 客户来访渠道end-->
    <!-- 客户成交渠道-->
    <div class="layui-col-xs4 w_ehr">
        <div class="w_echars_list">
            <div class="ehr_head">
                <div class="ehr_tit">
                    客户成交
                </div>
            </div>
            <div class="chear_cont">
                <div class="ehr_list1">
                    <div id="myChart3" style="width: 100%;height:230px; text-align: right; "></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 客户成交渠道end-->
    <!-- 中介成交 TOP 5-->
    <div class="layui-col-xs4 w_ehr">
        <div class="w_echars_list">
            <div class="ehr_head">
                <div class="ehr_tit">
                    中介成交 TOP 5
                </div>
                <div class="ehr_inp " style="width: 100px;margin-left: 10px;">
                    <select name="label" lay-verify="required" lay-search lay-filter="top5">
                        <option value="1">金额</option>
                        <option value="2">数量</option>
                        <option value="3">面积</option>
                    </select>
                </div>
                <div class="ehr_inp ">
                    <div class="w_jctab wehr_tabs2">
                        <ul>
                            <li class="ehr_active">房源</li>
                            <li>工位</li>
                        </ul>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
            <div class="chear_cont">
                <div class="ehr_listtab2">
                    <div id="myChart4" style="width: 100%;height:230px; text-align: right; "></div>
                </div>
                <div class="ehr_listtab2">
                    <div id="myChart5" style="width: 100%;height:230px; text-align: right; "></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 中介成交 TOP 5end-->
    <!-- 客户来访趋势-->
    <div class="layui-col-xs8 w_ehr">
        <div class="w_echars_list">
            <div class="ehr_head">
                <div class="ehr_tit">
                    客户来访趋势
                </div>
                <div class="ehr_inp ">
                    <div class="w_jctab wehr_tabs">
                        <ul>
                            <li class="ehr_active">周</li>
                            <li>月</li>
                            <li>季</li>
                            <li>年</li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="chear_cont">
                <div class="ehr_listtab">
                    <div id="myChart6" style="width: 100%;height:230px; text-align: right; "></div>
                </div>
                <div class="ehr_listtab">
                    <div id="myChart7" style="width: 100%;height:230px; text-align: right; "></div>
                </div>
                <div class="ehr_listtab">
                    <div id="myChart8" style="width: 100%;height:230px; text-align: right; "></div>
                </div>
                <div class="ehr_listtab">
                    <div id="myChart9" style="width: 100%;height:230px; text-align: right; "></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 客户来访趋势end-->
    <!-- 流失原因-->
    <div class="layui-col-xs4 w_ehr">
        <div class="w_echars_list">
            <div class="ehr_head">
                <div class="ehr_tit">
                    流失原因
                </div>

                <div class="clear"></div>
            </div>
            <div class="chear_cont">
                <div class="ehr_list1">
                    <div id="myChart10" style="width: 100%;height:230px; text-align: right; "></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 流失原因end-->
</div>
<script th:replace="common/common-js::js"></script>
<script th:src="@{/layuiadmin/js/echarts.min.js}" type="text/javascript" charset="utf-8"></script>
<script>
    layui.config({
        base: URL + 'layuiadmin/'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'contlist', 'table', 'laydate', 'form'], function () {
        var laydate = layui.laydate;
        var admin = layui.admin,
            table = layui.table,
            form = layui.form;
        form.render('select');

        //客户行业统计
        var industryNameArray = [];
        var industryArray = [];
        var myChart1 = echarts.init(document.getElementById('myChart1'));
        queryIndustryList('1');
        form.on('select(myChart1)', function (data) {
            industryNameArray = [];
            industryArray = [];
            var type = data.value;
            queryIndustryList(type);
        });
        function queryIndustryList(type){
            $.ajax({
                url: URL + "queryIndustryList",
                type: "POST",
                data:{type:type},
                dataType: "json",
                success: function (data) {
                    var list = data.list;
                    $.each(list, function(i,item){
                        industryNameArray.push(item.name);
                        var obj = {};
                        obj.value = item.num;
                        obj.name = item.name;
                        industryArray.push(obj)
                    });
                    loadMyChart1();
                }
            });
        }
        function loadMyChart1(){
            option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'right',
                    padding: [20, 40, 0, 0],
                    data: industryNameArray
                },
                series: [
                    {
                        name: '客户行业统计',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        center: ['30%', '50%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '16',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: industryArray
                    }
                ]
            };
            myChart1.setOption(option);
        }
        //客户行业统计end

        //客户来访渠道
        var sourceNameArray = [];
        var sourceArray = [];
        var myChart2 = echarts.init(document.getElementById('myChart2'));
        querySourceList('1');
        form.on('select(myChart2)', function (data) {
            sourceNameArray = [];
            sourceArray = [];
            var type = data.value;
            querySourceList(type);
        });
        function querySourceList(type){
            $.ajax({
                url: URL + "querySourceList",
                type: "POST",
                data:{type:type},
                dataType: "json",
                success: function (data) {
                    var list = data.list;
                    $.each(list, function(i,item){
                        sourceNameArray.push(item.name);
                        var obj = {};
                        obj.value = item.num;
                        obj.name = item.name;
                        sourceArray.push(obj)
                    });
                    loadMyChart2();
                }
            });
        }
        function loadMyChart2(){
            option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'right',
                    padding: [20, 40, 0, 0],
                    data: sourceNameArray
                },
                series: [
                    {
                        name: '客户来访渠道',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        center: ['30%', '50%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '16',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: sourceArray
                    }
                ]
            };
            myChart2.setOption(option);
        }
        //客户来访渠道end

        //成交渠道
        var bargainNameArray = [];
        var bargainArray = [];
        var myChart3 = echarts.init(document.getElementById('myChart3'));
        queryBargainList('1');
        function queryBargainList(type){
            $.ajax({
                url: URL + "queryBargainList",
                type: "POST",
                data:{type:type},
                dataType: "json",
                success: function (data) {
                    var list = data.list;
                    $.each(list, function(i,item){
                        bargainNameArray.push(item.name);
                        var obj = {};
                        obj.value = item.num;
                        obj.name = item.name;
                        bargainArray.push(obj)
                    });
                    loadMyChart3();
                }
            });
        }
        function loadMyChart3(){
            option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'right',
                    padding: [20, 40, 0, 0],
                    data: bargainNameArray
                },
                series: [
                    {
                        name: '成交渠道',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        center: ['30%', '50%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '16',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: bargainArray
                    }
                ]
            };
            myChart3.setOption(option);
        }
        //成交渠道end

        //中介成交 TOP 5
        var model = '房源';
        var topType = '1';
        var topNameArray = [];
        var topArray = [];
        var myChart4 = echarts.init(document.getElementById('myChart4'));
        $('.wehr_tabs2 li').click(function () {
            topNameArray = [];
            topArray = [];
            $(this).addClass('ehr_active').siblings().removeClass('ehr_active')
            myChart4.resize();
            model = $(this).text();
            top5(topType);
        })

        top5('1');
        form.on('select(top5)', function (data) {
            topNameArray = [];
            topArray = [];
            topType = data.value;
            top5(topType);
        });
        function top5(topType){
            $.ajax({
                url: URL + "queryTop5List",
                type: "POST",
                data:{
                    model:model,
                    type:topType
                },
                dataType: "json",
                success: function (data) {
                    var list = data.list;
                    $.each(list, function(i,item){
                        topNameArray.push(item.name);
                        var obj = {};
                        obj.value = item.total;
                        obj.name = item.name;
                        topArray.push(obj)
                    });
                    loadMyChart4();
                }
            });
        }

        function loadMyChart4(){
            option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'right',
                    padding: [20, 40, 0, 0],
                    data: topNameArray
                },
                calculable: true,
                series: [
                    {
                        name: '中介',
                        type: 'funnel',
                        width: '40%',
                        height: '45%',
                        left: '10%',
                        top: '20%',
                        data: topArray
                    },
                ]
            };
            myChart4.setOption(option);
        }
        //中介成交 TOP 5end

        //周期
        var tendencyNameArray = [];
        var tendencyNumArray = [];
        tendency('1');
        $('.wehr_tabs li').click(function () {
            tendencyNameArray = [];
            tendencyNumArray = [];
            $(this).addClass('ehr_active').siblings().removeClass('ehr_active');
            myChart6.resize();
            var tendencyType = $(this).text();
            tendency(tendencyType);
        })
        function tendency(tendencyType){
            $.ajax({
                url: URL + "queryTendencyList",
                type: "POST",
                data:{
                    type:tendencyType
                },
                dataType: "json",
                success: function (data) {
                    var list = data.list;
                    $.each(list, function(i,item){
                        tendencyNameArray.push(item.name);
                        tendencyNumArray.push(item.num);
                    });
                    loadMyChart6();
                }
            });
        }
        var myChart6 = echarts.init(document.getElementById('myChart6'));
        function loadMyChart6(){
            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                color: ['#9fdabf'],
                legend: {
                    data: ['人数']
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: tendencyNameArray
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '客户人数',
                        type: 'line',
                        smooth: true,
                        stack: '总量',
                        areaStyle: {},
                        data: tendencyNumArray
                    }
                ]
            };
            myChart6.setOption(option);
        }

        window.onresize = function() {
            myChart1.resize();
            myChart2.resize();
            myChart3.resize();
            myChart4.resize();
            myChart6.resize();
            myChart10.resize();
        }

        // 流失原因
        var reasonNameArray = [];
        var reasonNumArray = [];
        var myChart10 = echarts.init(document.getElementById('myChart10'));
        queryReasonList();
        function queryReasonList(){
            $.ajax({
                url: URL + "queryReasonList",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var list = data.list;
                    $.each(list, function(i,item){
                        reasonNameArray.push(item.name);
                        var obj = {};
                        obj.value = item.num;
                        obj.name = item.name;
                        reasonNumArray.push(obj)
                    });
                    loadMyChart10();
                }
            });
        }
        function loadMyChart10(){
            option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'right',
                    padding: [20,40,0,0],
                    data:reasonNameArray
                },
                series: [
                    {
                        name:'成交渠道',
                        type:'pie',
                        radius: ['50%', '70%'],
                        center: ['30%', '50%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '16',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data:reasonNumArray
                    }
                ]
            };
            myChart10.setOption(option);
        }

    });

</script>
</body>

</html>